{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao CareerConnectAI</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>CareerConnectAI</h1>
        <p>Planeje sua carreira com a ajuda da Inteligência Artificial.</p>
    </header>

    <main>
        <section id="welcome">
            <h2>Conectando Talentos a Oportunidades</h2>
            <p>Encontre trilhas de estágio e emprego personalizadas para o seu perfil e objetivos.</p>
            <div class="actions">
                <a href="/api/users/login/">
                    <button class="button-primary">Entrar</button>
                </a>
                <a href="#">
                    <button class="button-secondary">Cadastre-se</button>
                </a>
            </div>
        </section>
    </main>
</body>
</html>